<div class="container detail-page">
    <div class="app-page-container viewer-container">
        <div class="row">
            <div class="viewer-home-list-comtainer martop20">
                <div class="viewer-tails-container">
                    <a class="video-grid-container">
                        <div class="imgthumbline" style="background-image: url({{ mediaDetail.Poster }});">
                            <span class="thumbline-overlay"></span>
                        </div>
                        <div class="video-griddetails-container">
                            <label class="channel-view">{{mediaDetail.Production}}</label>
                            <h4>{{ mediaDetail.Title }}</h4>
                            <p>{{ mediaDetail.Plot }} </p>
                            <h4>Actors:</h4>
                            <p>{{ mediaDetail.Actors }}</p>
                            <h4>Director:</h4>
                            <p>{{ mediaDetail.Director }}</p>
                            <h4>Genre:</h4>
                            <p>{{ mediaDetail.Genre }}</p>
                            <h4>Released:</h4>
                            <p>{{ mediaDetail.Released }}</p>
                            <h4>Writer:</h4>
                            <p>{{ mediaDetail.Writer }}</p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>